.button {
    position: relative;
    display: inline-block;
    padding: 7px 12px;
    margin: 0;
    width: auto;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    letter-spacing: 2px;
}

.button.fullbutton {
    width: 100%;
}

.button.fullbutton span {
    float: right;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
}

/** Colours **/

.button {
    background: none;
    text-decoration-line: underline;
    text-decoration-color: var(--color-button-underline);
    color: var(--color-button-text);
}

.button:hover {
    background: var(--color-button-hover-bg);
    color: var(--color-button-hover-text);
}

.button:active {
    top: 2px;
}
